body{
    height: 100vh;
    width:100%
}
body{
    background-color: rgb(244, 247, 247);
}
header{
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px solid rgb (246,240,240);
    padding: 20px;
    background-color: rgb(159, 159, 162);
    height: 60px;
   
}
nav{
    border: 2px solid white;
    background-color: rgb(155, 158, 160);
    padding: 10px;
    text-align: center;
    margin-top:2px;
    height: 20px;
}
footer{
    display:flex;
    justify-content:center;
    border: 2px solid rgb(242, 231, 231);
    text-align: center;
    align-items: center;
    margin-top:2px;
    background-color: rgb(141, 141, 143);
    height: 70px;;
}
.container{
    border:2px solid rgb(253,249,249);
    margin-top: 2px;
    display: flex;
    width:100%;
    box-sizing: border-box;
    height:400px;
}
.a{
    margin:2px;
    border:2px solid rgb(250,248,248);
    width:20%;
    text-align: center;
    background-color:rgb(111, 111, 111);
    display: flex;
    align-items: center;
    justify-content: center;
}
.b{
    border: 2px solid rgb(253,250,250);
    margin: 2px;
    width:60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(113, 113, 113);

    }
